.category-page{
    /* background-color: aqua; */
    /* height: 20vh; */
    /* width: 88vw; */
    height: 88vh;
    display: flex;
}
.category-contents{
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    /* height: 100%; */
    width: 100%;
    /* background-color: aquamarine; */
    gap: 2rem;
}
.grid-box{
   
    height: 60vh;
    width: 58%;
    border-radius: 8px;
    display: grid;
    /* overflow-y: scroll; */
    /* width: 100%; */
    /* background-color: rgb(11, 70, 50); */
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    /* gap: 25px; */
}
.items{
    height: 25vh;
    width: 12vw;
    background-color: #FFF0E1;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    justify-self: center;
    border-radius: 10px;
    align-items: center;
    /* padding: 5%; */
}
.item-name{
    margin-top: 15%;
    font-size: 1rem;
    font-weight: 550;
    color: #000958;
    background-color: #FFF0E1;
}
.item-img{
    background-color: #FFF0E1;
    width: 6vw;
    margin-top: auto;
    margin-bottom: 10px;
}
.category-footer{
    display: flex;
    background-color: #FDE7CB;
    width: 100%;
    height: 11%;
}
.logo-container-footer{
    background-color: #FDE7CB;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}
.footer-main{
    margin-left: 17%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FDE7CB;
}
.footer-title{
    /* font-size: 18px; */
    display: flex;
    flex-direction: column;
    gap: 0rem;
    background-color: #FDE7CB;
}
.team-names{
    display: flex;
    margin-left: 5%;
    justify-content: space-evenly;
    gap: 1.5rem;
    background-color: #FDE7CB;
}
.social-main{
    background-color: #FDE7CB;
    width: 48%;
    display: flex;
    flex-direction: column;
    /* justify-self: end; */
    justify-content: end;
    justify-self: end;
    align-items: end;
    align-self: center;
    gap: 0.3rem;
}
.social-icons{
    background-color: #FDE7CB;
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    font-size: 20px;
}